.navbar {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  color: rgb(117, 91, 180);
  padding: 10px 50px;
}

.navbarlink {
  text-decoration: none;
  color: rgb(117, 91, 180);
}

.navbaritems {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
}

.arrowdown {
  width: 15px;
  color: rgb(117, 91, 180);
}

.shopdropdown {
  display: flex;
  flex-direction: row;
}

.shopdropdown .shopdropdown__button {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(117, 91, 180);
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.shopdropdown__content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.shopdropdown__content .dropdownlink {
  float: none;
  color: rgb(117, 91, 180);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.shopdropdown:hover .shopdropdown__content {
  display: block;
}
